
@media (max-width: 900px) {
  .main{
    padding-left: 10rem;
    padding-right: 10rem;
    text-align : left;
    display: block;
  }

  body {
    margin: 0;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 10px;
    line-height: 10px;
  }
  .main img{
    width:100%;
  }
}

@media (max-width: 670px) {
  .main{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align : left;
    display: block;
  }

  body {
    margin: 0;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 10px;
    line-height: 10px;
  }
  .main img{
    width:100%;
  }
}

